default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: myapp_development
  username: root
  password: <%= ENV['MYSQL_ROOT_PASSWORD'] %>
  host: db

test:
  <<: *default
  database: myapp_test
  username: root
  password: <%= ENV.fetch('MYSQL_ROOT_PASSWORD', 'password') %>
  host: <%= ENV.fetch('DB_HOST', 'db') %>

production:
  <<: *default
  database: <%= ENV['DB_NAME'] %>
  username: <%= ENV['DB_USER'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  host: <%= ENV['DB_HOST'] %>
  port: <%= ENV['DB_PORT'] %>
